body {
    background-color: rgb(50, 227, 162);
}
h1 {
    text-align: center; /* Centra el texto del título */
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
h4 {
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
h3 {
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
.dragon {
    background-color: rgb(77, 200, 52); /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
a {
    text-align: center; /* Centra el texto del título */
    color: white; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
    background-color: red;/*Cambia el color del fondo del texto*/
}
img {
    width: 200px; /* Ajusta el ancho de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un bloque */
}