body {
    background-color: rgb(195, 160, 160);
}
h1 {
    text-align: center; /* Centra el texto del título */
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
h4 {
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
h3 {
    color: black; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
.Psiquíco {
    background-color: rgb(153, 90, 90); /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
}
a {
    text-align: center; /* Centra el texto del título */
    color: white; /* Cambia el color del texto si es necesario */
    font-family: 'Press Start 2P', cursive;/* Cambia la fuente del texto */
    background-color: red;/*Cambia el color del fondo del texto*/
}
img {
    width: 50%; /* Ajusta el ancho de la imagen al 50% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen sea un bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
